<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TheGuide</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>fb</string>
		<string>facebook-stories</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>TheGuide Need Camera Permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on location services allows us to show a yellow circle when you pray. Our goal is to Light Up Your City in Prayer! We’re uniting believers in prayer across the map! By allowing location access, you can see and join others in prayer as we light up each city together. We respect your privacy We do not share your personal details. Your exact location will never be shown, only a general area of prayer activity. Would you like to allow location access to join in prayer?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on location services allows us to show a yellow circle when you pray. Our goal is to Light Up Your City in Prayer! We’re uniting believers in prayer across the map! By allowing location access, you can see and join others in prayer as we light up each city together. We respect your privacy We do not share your personal details. Your exact location will never be shown, only a general area of prayer activity. Would you like to allow location access to join in prayer?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Add a Profile Image  
Make your profile more personal by adding a picture. You can take a new photo or choose one from your library.  

Your privacy is our priority: 
- We only access the image you select.  
- Your photos and camera are never stored or shared without your permission.  
- You can change or remove your profile image anytime.  

Would you like to allow access?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Add a Profile Image  
Make your profile more personal by adding a picture. You can take a new photo or choose one from your library.  

Your privacy is our priority: 
- We only access the image you select.  
- Your photos and camera are never stored or shared without your permission.  
- You can change or remove your profile image anytime.  

Would you like to allow access?</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
